/*modal*/
.slds-modal__header{
    display:inline-block;
    width: 100%;
    background-color: #F8FBFE;
}

.modalForm{
    display:inline-block;
    width: 100%;
}

.modalLine { 
    border-bottom: solid #d2d3d1; 

}

.modalLeftBlock{
    display:inline-block;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.modalRightBlock{
    display:inline-block;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.modalViewDetails{
    text-align: center;
    font-weight: bold;
    color: #6A9623;
}

.modalLLeftBlock{
    display:inline-block;
    width: 92%;
    text-align: left;
}

.modalRRightBlock{
    display:inline-block;
    width: 2%;
    text-align: center;
}

.modaltxtHeader{
    font-weight: bold;
    text-decoration: underline black;
}
/*end modal*/

.plancard{
    border: 1px solid #cccccc;
    border-radius: 2px;
}

.highlightplancard{
    border: 1px solid #6A9623;
    border-radius: 2px;
}

.block1-3{
    display:inline-block; 
    width: 33%;
}

.boldletters{
    font-weight: bold;
    color: black;
}

.sectionDetails{
    display:inline-block; 
    width: 70%;
}

.sectionbtn{
    display:inline-block; 
    width:30%;
}

.verticalLine { 
    border-left: solid #547919;
}

.verticalLine2 { 
    border-left: solid #6A9623;
}

.planname{
    position: relative;
    top: 10%;
    font-size: large;
    text-align: left; 
    font-weight: bold;
    color: black;
}

.pricemo {
    font-size: large;
    text-align: center; 
    font-weight: bold;
}

.plandetails{
    text-align: left;
    font-weight: bold;
    color: #436BA6;
    text-decoration: underline solid #6A9623;
}

.custom-btn{
    border-radius: 30px;
    background-color: #6A9623;
    --sds-c-button-radius-border: 30px;
    --sds-c-button-background-color: #6A9623;
}

/* filter style */
.slds-select_container:before {
    display: none!important;
}

.slds-select {
    border-color: var(--sds-c-input-color-border, transparent);
    border-bottom-color: var(--sds-c-input-color-border, #dddbda);
}

/* reset button */

.btn-navy, .slds-popover_error .slds-popover__footer .slds-button.slds-button_neutral.custom-btn {
    border-color: #343741;
    color: #343741;
    border-radius: 30px;
    background-color: white;
}
.btn-navy:hover, .btn-navy:focus, .slds-popover_error .slds-popover__footer .slds-button.slds-button_neutral.custom-btn:hover, .slds-popover_error .slds-popover__footer .slds-button.slds-button_neutral.custom-btn:focus {
    border-radius: 30px;
    border-color: #343741;
    background-color: #343741;
    color: #fff;
}